<!DOCTYPE html>
<html>
<head>
    <title>Medicação</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="card">
        <h1>Medicação de {{ usuario }}</h1>

        <ul>
            {% for remedio in medicacoes %}
                <li>
                    {% if remedio[3] == 1 %}
                        <s>{{ remedio[2] }} - {{ remedio[1] }}</s>
                    {% else %}
                        {{ remedio[2] }} - {{ remedio[1] }}
                        <a href="/tomado/{{ remedio[0] }}">Tomado</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <br>
        <a href="/tarefas">Voltar</a>
    </div>
</body>
</html>
